@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: Inconsolata;
	src: url("./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf");
}
/* 

- Mobile: 375px
- Desktop: 1440px

- Font size (labels): 20px 

### Font

- Family: [Inconsolata](https://fonts.google.com/specimen/Inconsolata)
- Weights: 400, 500, 700, 800 */

* {
	box-sizing: border-box;
	font-family: Inconsolata, sans-serif;
}

html {
	font-size: 16px;
}

:root {
	--color-Neutral-0: hsl(0, 0%, 100%);
	--color-Neutral-300: hsl(252, 6%, 83%);
	--color-Neutral-500: hsl(245, 15%, 58%);
	--color-Neutral-700: hsl(245, 19%, 35%);
	--color-Neutral-900: hsl(248, 70%, 10%);

	--color-Orange-300: hsla(7, 100%, 80%, 0.849);
	--color-Orange-500: hsl(7, 88%, 67%);
	--color-Orange-700: hsl(7, 71%, 60%);

	--color-Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

@theme {
	--color-Neutral-0: hsl(0, 0%, 100%);
	--color-Neutral-300: hsl(252, 6%, 83%);
	--color-Neutral-500: hsl(245, 15%, 58%);
	--color-Neutral-700: hsl(245, 19%, 35%);
	--color-Neutral-900: hsl(248, 70%, 10%);

	--color-Orange-300: hsla(7, 100%, 80%, 0.849);
	--color-Orange-500: hsl(7, 88%, 67%);
	--color-Orange-700: hsl(7, 71%, 60%);

	--color-Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

.ticket-l,
.ticket-r {
	border: 1px solid var(--color-Orange-500);
	border-radius: 24px;
}

.ticket-l {
	corner-left-shape: rounded;
	corner-right-shape: scoop;
	border-right: none;
}

.ticket-r {
	corner-left-shape: scoop;
	corner-right-shape: rounded;
	border-left: none;
}

main {
	background-image:
		url("./assets/images/pattern-circle.svg"),
		url("./assets/images/pattern-lines.svg"),
		url("./assets/images/pattern-squiggly-line-top.svg"),
		url("./assets/images/pattern-circle.svg"),
		url("./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
		url("./assets/images/background-mobile.png");
	background-position:
		-20px -32px,
		top left,
		100% 28px,
		115% 60%,
		bottom left,
		bottom left;
	background-size: 110px, 257%, 120px, 110px, 300px, cover;
	background-repeat: no-repeat;
}

label {
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	main {
		background-image:
			url("./assets/images/pattern-circle.svg"),
			url("./assets/images/pattern-lines.svg"),
			url("./assets/images/pattern-squiggly-line-top.svg"),
			url("./assets/images/pattern-circle.svg"),
			url("./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
			url("./assets/images/background-tablet.png");
		background-position:
			44px -60px,
			center,
			100% 28px,
			115% 60%,
			bottom left,
			bottom left;
		background-size: 200px, contain, 300px, 200px, 700px, cover;
		background-repeat: no-repeat;
	}
}
@media screen and (min-width: 1024px) {
	main {
		background-image:
			url("./assets/images/pattern-circle.svg"),
			url("./assets/images/pattern-lines.svg"),
			url("./assets/images/pattern-squiggly-line-top.svg"),
			url("./assets/images/pattern-circle.svg"),
			url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"),
			url("./assets/images/background-desktop.png");
		background-position:
			44px -60px,
			center,
			100% 28px,
			71% 60%,
			bottom left,
			bottom;
		background-size: 200px, cover, 500px, 220px, 900px, cover;
		background-repeat: no-repeat;
	}
}
